@import './constants.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container{
     max-width: 1100px;
     width: 100%;
     margin: 0 auto;
}

body{
     font-family: $ff-primary;
}

.header{
     
     color: $white;

     // height: 100vh;
     // position: relative;
     
     &__intro{
          display: flex;
          flex-direction: column;
          align-items: center;
          background-image: url(../img/bg-header.png);
          background-size: cover;
          padding-top: 200px;
     }
     
     ::placeholder{
          font-size: 14px;
          color: $placeholder-clr;
          text-align: center;
     }

     &__input{
          flex: 1;
          padding: 15px;
          border: 0;

     }
     &__input:focus{
          outline: 0;
     }
     
     &__btn{
          text-transform: uppercase;
          width: fit-content;
          border: 0;
          background-color: $secondary;
          color: $white;
          font-family: $secondary;
          font-size: 14px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 15px 30px;
     }

     &__btn svg{
          
     }
     &__span{
          margin-right: 10px;
     }
     &__form{
          background-color: $white;
          display: flex;
          max-width: 560px;
          width: 100%;
          padding: 1px;
          margin-bottom: 108px;
          
     }

     &__title{
          font-size: 48px;
          font-weight: 700;
          letter-spacing: 6px;
          text-transform: uppercase;
          
     }

     &__span{
          // display: none;
     }
     &__subtitle{
          text-align: center;
          letter-spacing: 10px;
          font-size: 22px;
          margin-bottom: 48px;
          
     }

     &__scroll{
          margin-bottom: 132px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
     }

     .nav{
          background-color: $secondary;
          
          .container{
               display: flex;
               justify-content: space-between;
               align-items: center;
               padding: 32px 0;
          }

          &__link{
               text-decoration: none;
               color: inherit;
               text-transform: uppercase;
               font-size: $nav-link-size;
          }

          &__item{
               display: inline-block;
               margin-left: 40px;
          }
     }
}
@media (max-width:1100px){
     .nav{
          padding: 10px;
     }
}

@media (max-width: 780px){
     .header{
          .nav{
               .container{
                    flex-direction: column;
                    
               }
               &__item{
                    display: block;
                    margin: 0;
                    text-align: center;
                    margin-bottom: 10px;
               }
               &__logo{
                    margin-bottom: 25px;
               }
     
     
          }
     }
     
}

@media (max-width:560px){
     .header{
          &__intro{
               padding-inline: 10px;
          }
          
          &__title{
               font-size: 38px;
               letter-spacing: 0;
          }
          &__subtitle{
               font-size: 12px;
          }
          &__span{
               display: none;
          }
          &__btn{
               padding: 10px;
          }
     
     }
}


// === About ===

.about{
     background-image: url(../img/bg-about.png);
     color: $white;
     padding: 120px 0;
     &__imgs{
          
          max-width: 450px;
          width: 100%;
     }
     .container{
          display: flex;
          justify-content: space-between;
          align-items: center;
          
     }
     @media (max-width: 1100px) {
          .container{
               padding: 10px;
          }
          &__choose-us{
               margin-right: 10px;
          }
     }


     &__choose-us{
          max-width: 560px;
          width: 100%;
     }
     &__title{
          font-size: 36px;
          font-family: $secondary;
          margin-bottom: 50px;
     }
     &__pg{
          color: $primary;
          font-family: $ff-primary;
          font-size: 16px;
          margin-bottom: 40px;
          
     }
     &__btn{
          background-color: $secondary;
          text-decoration: none;
          color: inherit;
          padding: 20px 40px;
          text-transform: uppercase;
          display: block;
          width: max-content;
          font-family: $ff-secondary;
          
     }

     &__img{
          display: block;
          max-width: 100%;
     }


     &__img1{
          margin-bottom: 10px;
     }
     &__img2{
          margin-left: auto;
     }

     @media (max-width: 630px){
          .container{
               flex-direction: column;
          }
          &__imgs{
             order: 1;  
             margin-bottom: 30px;
          }
          &__choose-us{

               order: 2;
          }
     }
}


// === steps ===


.steps{
     // display: none;
     
     background-color: black;
     padding: 50px;
     
     &__container{

          // width: 800px; 
          margin: 0 auto;    
          display: flex;
          justify-content: space-between;
          background-image: url(../img/steps.svg);
          background-repeat: no-repeat;
          // background-position: center -10px;
          // position: relative;
     }
     
     &__shape{
          // width: 800px;
          // position: absolute;
     }

     &__step{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          // position: absolute;
          // top: 50%;
          // z-index: 10;
          // background-color: black;
          // left: 10%;
          
          width: max-content;
          background-color: aqua;
     }
     
     &__title{
          margin-top: 38px;
          color: $white;
          
     }

     &__step{
          // margin-top: 100px;
          // position: absolute;

     }

     &__step1{
          // display: none;
          // position: absolute;
          // top: 50%;
          // left: 0%;
          // transform: translate(-50%);
     }

     &__step2{
          // position: absolute;
          // top: 50%;
          // left: 50%;
          // transform: translate(-50%);
     }

     &__step3{
          // position: absolute;
          // top: 50%;
          // left: 100%;
          // transform: translate(-50%);
     }


}



// === booking ===

.booking{
     color: $white;
     &__content{
          
          padding-top: 229px;
          padding-bottom: 100px;
     }
     
     &__content-top{
          background-image: url("../img/booking-bn1.png");
     }

     &__content-bottom{
          background-image: url("../img/booking-bn2.png");
     }
     
     &__card{
          background-color: #232323;
          width: 508px;
          max-width: 100%;
          padding: 50px 30px;
          
     }

     &__country{
          margin-bottom: 23px;
          font-size: 20px;
     }

     &__title{
          margin-bottom: 13px;
          font-size: 20px;
     }

     &__desc{
          margin-bottom: 46px;
     }

     &__bn{
          color: $white;
          background-color: $secondary;
          padding: 20px 60px;
          font-family: $ff-secondary;
          text-transform: uppercase;

     }

     &__card-right{
          margin-left: auto;
     }

     
}




// === Testimonial ===

.testimonial{
     
     background-image: url("../img/testimonial-bg.png");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     color: $white;
     padding-top: 128px;
     padding-bottom: 197px;
     &__title{
          text-align: center;
          font-size: 36px;
          font-size: $ff-secondary;
          margin-bottom: 50px;
          
     }
     &__card{
          
          display: flex;
          // justify-content: center;
          // align-items: center;
          
     }
     &__words{
          padding: 50px;
          background-color: #333;
     }
     &__pic{
          max-width: 445px;
          width: 100%;
     }
     &__img{
          display: block;
          width: 100%;
          

     }
     @media (max-width:880px){
          &__pic{
               display: none;
          }
     }
     .client{
         &__name{
          font-size: 20px;

          margin-bottom: 10px;
         } 


     }
}


// === footer ===

.footer{
     background-color: $footer-bg;
     color: $white;
     text-align: center;
     padding: 120px 0 50px;
     &__title{
          font-size: 24px;
          font-weight: 700;
          letter-spacing: 3px;
          margin-bottom: 10px;
     }
     &__subtitle{
          margin-bottom: 20px;
     }
     &__link{
          text-decoration: none;
          display: inline-block;

     }

     &__link + &__link{
          margin-left: 10px;
     }
}