*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: sans-serif;
}

.link{
  text-decoration: none;
}

.link:hover{
  text-decoration: underline;
}

.logo{
  width: 300px;
  height: 106px;
  margin: -28px;
}

.title{
  font-size: 28px;
  line-height: 32px;
  
}

.input{
  padding: 14px 16px;
  margin-top: 6px;
  margin-bottom: 6px;
  border: 1px solid #dddfe2;;
  border-radius: 6px;
  width: 364px;
/*change the thin vertical line that flashes*/
  caret-color: #1877f2;
}

.input:focus{
  outline: 0;
  border-color: #1877f2;
}

/*** 
   Log in btn
***/

.login{
  background-color: #1877f2;
  border: 0;
  font-size: 20px;
  line-height: 48px;
  color: #fff;
  border-radius: 6px;
  margin-top: 6px ; 

    width: 364px;

}
 .login:hover{
  background-color: #166fe5;
 }


/*** 
   create new account btn
***/



.btn_cr{
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  padding: 0 16px;
  background-color: #42b72a;
  color: #fff;  
}

.btn_cr:hover{
  text-decoration: none;
  background-color: #36a420;
}



/*** 
   create page div
***/



.create_page{
  margin-top: 28px;
  text-align: center;
}

.link_cr{
  font-weight: 600;
  color: #000;
}

.main{
  background-color: #f0f2f5;
  padding-top: 92px;
  padding-bottom: 142px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.intro{
  width: 500px;
  padding-right: 32px;
}

.form form{
  border: 1px solid black;
  padding: 10px 0 24px;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  margin: 40px 0 0;  
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 396px;
}

.fg_pswd{
  display: block;
  margin-top: 16px;
  color: #1877f2;
  font-size: 14px;
  font-weight: 500;
}

hr{
  margin: 20px 16px;
  background-color:  #dadde1;
  width: 364px;
}

