*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
    overflow-x: hidden;
}
body{
    padding: 0;
    margin: 0;
    color: #544837;
    background-color: #FEEFE3;
    font-family: sans-serif;
    
    
}

.bg-curves{
    width: 1133px;
    position: absolute;
    left: 30%;
    z-index: -10;
}


.wrapper{
    
    min-height: 100vh;
    padding: 1.25rem 9.0625rem;
    max-width: 1500px;
    margin: 0 auto;
}

.img{
    display: block;
    
}

.nav{
    
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
}

.logo{
    display: block;
}


.nav__item{
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav__link{
    text-decoration: none;
    text-transform: capitalize;
    color: #7D8790;    
    position: relative;
}

.nav__link::after{
    content: '';
    display: block;
    height: 5px;
    width: 0;
    border-radius: 100%;
    margin: 0 auto;
    background-color: #ED9B59;
    margin-top: 10px;
    transition: all ease-in-out 100ms;
    position: absolute;
    left: 50%;
}
.nav__link:hover{
    color: #ED9B59;
}

.nav__link:hover::after{
    width: 5px;
}


.nav__list{
    list-style: none;
    padding: 0;
    margin-left: auto;
}

.nav__item{
    display: inline-block;
    margin-inline: 0.9rem;
    
}

.nav__btns{
    margin-inline: 1rem;

}

.btn{
    text-decoration: none;
    text-transform: capitalize;
    color: #2F281E;
    border-radius: 5px;
    padding: 9px;
}

.btn--transparent{
    margin-left: 180px;
    margin-right: 39px;
    
}

.btn--orange{
    background-color: #ED9B59;
    color: #fff;
}

.btn--rd{
    border-radius: 50px;
    padding: 11px 30px;
}


.btn-submit{
    border: 0;
    cursor: pointer;
}


/* header section */


.header{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    /* overflow: hidden; */
}


.header__text{
    max-width: 520px;
    width: 100%;
}


.header__title{
    margin-top: 160px;
}


.header__title--small{
    font-size: 14px;
    margin-bottom: 10px;
}


.header__title--big{
    font-size: 58px;
    margin-bottom: 56px;
}


.header__title--orange{
    color: #ED9B59;
}


.header__content{
    font-size: 20px;
    letter-spacing: 1.1px;
    
}


.header__form{
    margin-top: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    padding: 0px 10px;
    
    background-color: #fff;
    box-shadow: 0px 10px #1A1D32;
}


.header__input{
    display: block;
    width: 100%;
    height: 60px;
    border: 0;
    margin-inline: 10px;
    
}


.header__input:focus{
    outline: 0;
}


.header__numbers{
    margin-top: 143px;
    display: flex;
    justify-content: space-between;
}


.col{
    width: 30%;
    padding: 10px;
}


.col__num{
    font-size: 56px;
    font-weight: 700;
    text-align: center;
}


.col__num--brown{
    color: #B25E21;
}


/* second column */

.header__img{
    /* background-color: aqua; */
    /* width: 100%; */
    position: relative;
    
    
}
.img{
    background-image: cover;
    
}

.header__icons--top{
    position: absolute;
    top: 0;
}

.header__showcase{
    position: absolute;
    display: flex;
    align-items: center;

    /* background-color: #2F281E;
    height: 100px;
    width: 100%; */
    bottom: 0;
}


.header__showcase--col1{
    width: 394px;
    height: 294px;
}

.header__showcase--col2{
    width: 374px;
    height: 254px;
}

.shape{
    position: absolute;
    bottom: 0;
    z-index: -1;
    bottom: 0;
    left: -88px; 
}